@font-face {
    font-family: 'IRANSans FaNum';
    src: url('../fonts/IRANSansWeb-FaNum.eot');
    src: url('../fonts/IRANSansWeb-FaNum.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IRANSansWeb-FaNum.woff2') format('woff2'),
    url('../fonts/IRANSansWeb-FaNum.woff') format('woff'),
    url('../fonts/IRANSansWeb-FaNum.ttf')  format('truetype')
}
@font-face {
    font-family: 'IRANSans Light';
    src: url('../fonts/iransans-light.eot');
    src: url('../fonts/iransans-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iransans-light.woff2') format('woff2'),
    url('../fonts/iransans-light.woff') format('woff'),
    url('../fonts/iransans-light.ttf')  format('truetype'),
    url('../fonts/iransans-light.svg#IRANSans') format('svg');
}
@font-face {
    font-family: 'IRANSans Bold';
    src: url('../fonts/iransans-bold.eot');
    src: url('../fonts/iransans-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iransans-bold.woff2') format('woff2'),
    url('../fonts/iransans-bold.woff') format('woff'),
    url('../fonts/iransans-bold.ttf')  format('truetype'),
    url('../fonts/iransans-bold.svg#IRANSans') format('svg');
}
:root {
    --tw-bg-opacity: 1;
}
body {
    background-color: rgb(17 24 39/var(--tw-bg-opacity));
    font-family: "IRANSans FaNum";
    direction: rtl;
}